@import url('../../admin/components/header/header.component.scss');
@import url('../../admin/components/menu/menu.component.scss');

.font-icon {
    font-size: 18px;
    padding: 0 10px;
}


.content {
    overflow: scroll;
    height: 100%;
    padding-bottom: 50px;
    margin-top: -80px;
    flex-direction: row;
    display: flex   ;
}

.content-category {
    padding-top: 100px;
    padding-left: 30px;
    width: 100%;
    padding-right: 30px;
    overflow: scroll;
}

.title-new {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    color: #42526d;
    padding-bottom: 20px;
    
}

.new {
    font-size: 14px;
    padding: 5px 10px;
    background-color: #244A64;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: 35px;
    margin-right: 15px;

}



.search-all {
    width: 99%;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: white !important;
}

.search-all span {
    padding: 3px;
    font-size: 20px;
    background-color: white !important;
}

.search-all .input-search {
    width: 90%;
    outline: none;
    border: none;
    padding: 5px;
    margin-left: 5px;
}

.content-table {
    height: 200px;
}



td > input {
    border: none;
    outline: none;
    display: inline-block;
    width: 85%;
    padding: 3px;
}

td > span {
    display: inline-block;
}



.title-modal {
    //background-color: #244A64;
    color: #244A64;
    font-size: 18px;
    height: 30px;
    margin-bottom: 0;
}


.modal-input {
    width: 100%;
    border: 1px gray solid;
    padding: 3px;
    margin-top: -27px;
    margin-bottom: 20px;
}

.modal-content {
    border: none !important;
}

.modal-content > label {
    font-size: 15px;
    color: #244A64;
    font-weight: bold;
    padding-bottom: 0px !important;
    
}

.modal-content > br {
    margin-bottom: 0px !important;
}

.modal-footer > button {
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.modal-footer .btn-modal-cancel {
    margin-right: 30px;
}

.modal-footer .btn-modal-ok {
    background-color: #3a5c70;
    color: #FFFFFF;
}

nz-date-picker,
nz-range-picker {
  margin: 0 8px 12px 0;
}

nz-select {
    width: 100%;
    padding: 3px;
}
