<app-header></app-header>
<div class="content" style="width: 100%; background-color: white;">
    <app-menu></app-menu>
    <div class="content-category">
        <nz-spin [nzSpinning]="isSpringing">
            <div class="title-new">
                <div class="title">Danh sách danh mục sản phẩm</div>
                <div class="new" (click)="openModalAddCategory()">
                    <span nz-icon nzType="plus-circle"></span> Thêm mới
                </div>
            </div>
        
            <div class="search-all">
                <span nz-icon nzType="search" style="font-size: 18px;"></span>
                <input class="input-search" [(ngModel)]="filterCommon" (change)="onHandleFetchListUser()"/>
            </div>
        
            <nz-table class="content-table" nzPaginationType="small" [nzNoResult]="result">
                <thead>
                    <tr>
                        <th nzAlign="center">STT</th>
                        <th nzAlign="center">Tên danh mục</th>
                        <th nzAlign="center">Danh mục cha</th>
                        <th nzAlign="center">Ngày cập nhật</th>
                        <th class="action-common">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-search">
                        <td nzLeft></td>
                        <td nzLeft><span nz-icon nzType="search"></span><input placeholder="Tìm kiếm..." [(ngModel)]="filterCateName" (change)="onHandleFetchListUser()"/></td>
                        <td nzLeft><span nz-icon nzType="search"></span><input placeholder="Tìm kiếm..." [(ngModel)]="filterCateName" (change)="onHandleFetchListUser()"/></td>
                        <td><nz-range-picker [nzPlacement]="placement"></nz-range-picker></td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let item of dataItem, index as i">
                        <td nzAlign="center" nzLeft>{{i + 1}}</td>
                        <td nzLeft>{{item?.categoryName}}</td>
                        <td nzLeft>{{item?.categoryParent?.categoryName}}</td>
                        <td>{{item?.createdTimestamp | date: 'dd/MM/yyyy'}}</td>
                        <td nzRight class="action-common">
                            <a (click)="openModalUpdateCate(item?.categoryName, item?.id, item?.categoryParent?.id)"><span class="font-icon" nz-icon nzType="info-circle" nzTheme="outline"></span></a>
                            <a (click)="openModalDelete(item?.id, item?.categoryName)"><span class="font-icon" nz-icon nzType="delete" nzTheme="outline"></span></a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        
            <ng-template #result></ng-template>
        </nz-spin>
        
    </div>
</div>

<nz-modal [nzVisible]="visiable" 
[nzTitle]="modalTitle" 
[nzContent]="modalContent" 
(nzOnCancel)="handleCancel()"
[nzFooter]="modalFooter">
    <ng-template #modalTitle>
        <div class="title-modal">
            <p>Thêm mới danh mục sản phẩm</p>
        </div>
    </ng-template>
    <ng-template #modalContent>
        <div class="modal-content">
            <div>
                <label for="">Tên danh mục sản phẩm<span style="color: red;">*</span></label><br>
                <input type="text" class="modal-input" [(ngModel)]="inputCategoryName">
            </div>
            <div>
                <label for="">Tên danh mục sản phẩm cha<span style="color: red;">*</span></label><br>
                <nz-select [(ngModel)]="selectedValueNew" nzShowSearch="true" class="select-cate">
                    <nz-option class="select-option" *ngFor="let item of dataItemParent" [nzValue]="item.id" [nzLabel]="item.categoryName" ></nz-option>
                </nz-select>
            </div>
            
        </div>
    </ng-template>
    <ng-template #modalFooter>
        <div class="modal-footer">
            <button class="btn-modal-cancel" (click)="handleCancel()">Hủy</button>
            <button class="btn-modal-ok" (click)="handleSaveCate()">Thêm mới</button>
        </div>
    </ng-template>
</nz-modal>

<nz-modal [nzVisible]="visiableUpdate" 
[nzTitle]="modalTitle" 
[nzContent]="modalContentUpdate" 
(nzOnCancel)="handleCancelUpdate()"
[nzFooter]="modalFooterUpdate">
    <ng-template #modalTitle>
        <div class="title-modal">
            <p>Cập nhật danh mục sản phẩm</p>
        </div>
    </ng-template>
    <ng-template #modalContentUpdate>
        <div class="modal-content">
            <div>
                <label for="">Tên danh mục sản phẩm<span style="color: red;">*</span></label><br>
                <input type="text" class="modal-input" [(ngModel)]="inputCategoryNameUpdate">
            </div>
            <div>
                <label for="">Tên danh mục sản phẩm cha<span style="color: red;">*</span></label><br>
                <nz-select [(ngModel)]="selectedValueUpdate" nzShowSearch style="width: 100%;">
                    <nz-option *ngFor="let item of dataItemParent" [nzValue]="item?.id" [nzLabel]="item?.categoryName"></nz-option>
                </nz-select>
            </div>
        </div>
    </ng-template>
    <ng-template #modalFooterUpdate>
        <div class="modal-footer">
            <button class="btn-modal-cancel" (click)="handleCancelUpdate()">Hủy</button>
            <button class="btn-modal-ok" (click)="handleUpdateCate()">Cập nhật</button>
        </div>
    </ng-template>
</nz-modal>

<nz-modal [nzVisible]="isVisiableDelete" 
[nzTitle]="modalTitleDelete" 
[nzContent]="modalContentDelete" 
(nzOnCancel)="handleCancel()"
[nzFooter]="modalFooterDelete">
    <ng-template #modalTitleDelete>
        <div class="title-modal">
            <p>Xác nhận xóa</p>
        </div>
    </ng-template>
    <ng-template #modalContentDelete>
        <div class="modal-content">
            <p>{{messageDelete}}</p>
            <p><span>Lưu ý</span>: Khi xóa dữ liệu không thể khôi phục lại được nữa.</p>
        </div>
    </ng-template>
    <ng-template #modalFooterDelete>
        <div class="modal-footer">
            <button class="btn-modal-cancel" (click)="handleCancel()">Hủy</button>
            <button class="btn-modal-ok" (click)="handleDeleteCate()">Xóa</button>
        </div>
    </ng-template>
</nz-modal>