@import "../../../../assets/css/sb-admin-2.css";
@import "../../../../assets/css/sb-admin-2.min.css";

.content {
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 30px;
    overflow: scroll;
    padding-bottom: 20px;
    padding: 10px;
    height: 800px;
}


.title {
    font-size: 20px;
    color: #42526d;
    padding-bottom: 10px;
    display: inline-block;
    font-weight: bold;
}

.input-product {
    width: 80%;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 3px;
}

.lable-input {
    font-size: 13px;
    color: #42526d;
    font-weight: bold;
}


.information-product {
    width: 100%;
}

.row-input {
    margin-top: 20px;
}

.avartar {
    height: 200px;
    width: 150px;
}

.button {
    float: right;
    margin-right: 150px;
}

.button > button {
    width: 100px;
    border: none;
    padding: 5px;
    border-radius: 3px;
}

.button .btn-back {
    margin-right: 30px;
}

.button .btn-add {
    background-color: #3a5c70;
    color: #FFFFFF;
}