<div class="content" style="width: 100%; background-color: white;">
    <div class="content-input">
        <div>
            <div class="title">Thêm mới sản phẩm</div>
            <!-- <span nz-icon nzType="left"></span> -->
        </div>
    
        <div class="information-product">
            <div class="row row-input">
                <div class="col-md-6">
                    <label for="" class="lable-input">Tên sản phẩm</label><br>
                    <input type="text" class="input-product">
                </div>
                <div class="col-md-6">
                    <label for="" class="lable-input">Size</label><br>
                    <input type="text" class="input-product">
                </div>
            </div>

            <div class="row row-input">
                <div class="col-md-6">
                    <label for="" class="lable-input">Màu sắc</label><br>
                    <input type="text" class="input-product">
                </div>
                <div class="col-md-6">
                    <label for="" class="lable-input">Chất liệu</label><br>
                    <input type="text" class="input-product">
                </div>
            </div>

            <div class="row row-input">
                <div class="col-md-6">
                    <label for="" class="lable-input">Form dáng</label><br>
                    <input type="text" class="input-product">
                </div>
                <div class="col-md-6">
                    <label for="" class="lable-input">Mô tả</label><br>
                    <input type="text" class="input-product">
                </div>
            </div>


            <div class="row row-input">
                <div class="col-md-6">
                    <label for="" class="lable-input">Avatar</label><br>
                    <input type="file"><br>
                    <img src="../../../../assets/image/ATINO.png" alt="" class="avartar">
                </div>
                <div class="col-md-6">
                    <label for="" class="lable-input">Hình ảnh minh họa</label><br>
                    <input type="file">
                </div>
            </div>
        </div>

        <div class="row button">
            <button class="btn-back">Quay lại</button>
            <button class="btn-add">Thêm mới</button>
        </div>
    </div>
    
</div>